@{ 
    Layout = null;
}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/success.css" />
</head>

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>We have successfully sent<br /> your transfer!</p>
        <a href="https://joshuapeters.dev" style="text-decoration: none; color: white; margin-top: 1rem; display: block; background-color: #88B04B; border-radius: 10px; padding: 1rem 2rem 1rem 2rem;">View Portfolio</a>
    </div>
</body>
</html>