body {
    font-family: 'Open Sans', sans-serif;
}

/************************TEXT STYLES************************/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h4 {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 500;
}


/************************BACKGROUND COLORS************************/
.light-grey {
    background-color: #F4F5F5
}

.light-yellow {
    background-color: #F9F8F3
}

.light-green {
    background-color: #F3F9F8
}

.light-red {
    background-color: #F9F3F4;
}

/************************INPUT STYLES************************/
.submit-btn {
    background-color: #8F061E;
    color: white;
    border: 1px solid black;
}

.submit-btn-small {
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    height: 100%;
}

.submit-btn-large {
    padding: 0.5rem 3rem 0.5rem 3rem;
}


input {
    width: 100%;
}

/*SELECT2 STYLES*/

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid black !important;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: black !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    padding-left: 1.8rem !important;
}

.select2-container--classic .select2-selection--single {
    background-color: white !important;
    border: 1px solid black !important;
}

.select2-container--classic .select2-selection--single {
    background-image: none !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-image: none !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: black transparent transparent transparent !important;
}


.select2-container .select2-selection--single {
    height: 100% !important;
}

.select2-selection__arrow {
    height: calc(100% - 2px) !important;
}


.select2-selection {
    padding: 0.5rem;
}

.dropdown {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

input {
    border: 1px solid black;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.input-group input {
    border: 1px solid black;
    border-radius: 0;
}

::-webkit-input-placeholder {
    color: black !important;
}

.red::-webkit-input-placeholder {
    color: #8f061e !important;
    font-weight: 700;
}

.bold::-webkit-input-placeholder {
    font-weight: bold !important;
}

.calendar-container {
    background-color: lightgrey !important
}

.calendar-container i {
    color: black !important;
}

/************************LAYOUT************************/
.layout-grid {
    display: grid;
    grid-gap: 2rem;
}

.info-grid {
    display: grid;
    grid-template-columns: 80px auto auto;
    grid-template-areas: '. title title' 'icon form form';
}

.info-grid .icon {
    grid-area: icon;
    padding-right: 1rem;
}

.info-grid .title {
    grid-area: title;
    display: block;
    color: #8f061e;
}

.info-grid .form {
    grid-area: form;
    padding: 1rem;
    padding-bottom: 0;
}

.terms-grid {
    display: grid;
    grid-template-columns: 80px auto auto;
    grid-template-areas: 'agree-box terms terms';
}

.terms-grid .agree-box {
    grid-area: agree-box;
    display: flex;
    justify-content: center;
}

.terms-grid .terms {
    border-left: 4px solid #8F061E;
    padding-left: 1rem;
    font-size: .8rem;
    font-weight: 700;
}

@media (max-width: 768px){
    .terms-grid {
        grid-template-columns: auto;
        grid-template-areas:
            "terms"
            "agree-box";
    }
}

/*...FORM LAYOUT*/
.eighty-twenty-grid {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.location-group {
    display: grid;
    grid-template-areas: "city city city state county county county";
    grid-gap: 2rem;
}

.city { grid-area: city }
.state { grid-area: state }
.county { grid-area: county }

@media(max-width: 576px){
    .location-group {
        grid-template-areas: "city city city" "state state state" "county county county";
        grid-gap: 1rem;
    }
    .eighty-twenty-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .info-grid {
        grid-template-columns: auto auto auto;
        grid-template-areas: 'title title title' 'form form form';
    }

    .info-grid .icon {
        display: none;
    }
        
}
